<mat-toolbar color="primary" class="mb-4">

  <span>{{user.name}}</span>

  <span class="flex-1"></span>

  <button mat-icon-button aria-label="Editar l'usuari">
    <mat-icon inline="true">person</mat-icon>
  </button>
  <button mat-icon-button aria-label="Tancar la sessió actual" (click)="logout()">
    <mat-icon inline="true">logout</mat-icon>
  </button>
</mat-toolbar>

<mat-tab-group mat-stretch-tabs>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon inline="true">group_work</mat-icon>
    </ng-template>
    <app-user-groups></app-user-groups>
  </mat-tab>

  <mat-tab label="Second">
    <ng-template mat-tab-label>
      <mat-icon inline="true">mail</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <app-user-invitations></app-user-invitations>
    </ng-template>
  </mat-tab>

</mat-tab-group>