<div class="content-full">

  <div class="content">
    <div class="actions">
      <button mat-fab color="accent" routerLink="/group/{{group_id}}/template/reward/create"
        *ngIf="authMember && authMember.admin" aria-label="Crear una nova recompensa">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <h2>Recompenses</h2>

    <div *ngIf="templates.length < 1" class="nodata">
      <p>No hi ha recompenses definides.</p>
    </div>

    <div class="grid grid-cols-3 gap-10">
      <ng-container *ngFor="let template of templates">
        <app-template-reward-card [template]="template"></app-template-reward-card>
      </ng-container>
    </div>

  </div>

</div>