<div class="content-full">

  <div class="content">
    <div class="flex">
      <a mat-icon-button aria-label="Tornar" routerLink="/group/{{group_id}}">
        <mat-icon inline="true">arrow_back</mat-icon>
      </a>
    </div>

    <h1>Plantilles de tasques</h1>


    <div class="actions">
      <button mat-fab color="accent" routerLink="/group/{{group_id}}/template/task/create">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>
  <ng-container *ngFor="let template of templates">
    <app-template-task-card [template]="template"></app-template-task-card>
    <mat-divider></mat-divider>
  </ng-container>

</div>