<div class="content-full">

  <div class="content">
    <div class="actions">
      <button mat-fab color="accent" routerLink="/group/create">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <mat-divider></mat-divider>
  <ng-container *ngFor="let group of groups;">

    <div matRipple class="list-element" routerLink="/group/{{group.id}}">
      <span class="list-element__image">
        <img src="{{group | groupAvatar:32}}" alt="Logo" class="groupAvatar">
      </span>
      <span class="list-element__title">{{group.name}}</span>
    </div>

    <mat-divider></mat-divider>
  </ng-container>

</div>