<div class="content-full">

  <div class="content">
    <div class="actions">
      <button mat-fab color="accent" routerLink="/group/{{group_id}}/template/tasks"
        *ngIf="authMember && authMember.admin">
        <mat-icon>list_alt</mat-icon>
      </button>
      <button mat-fab color="accent" (click)="createDialog()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <h2>Les meves tasques</h2>
  <ng-template [ngIf]="myTasks.length < 1">
    <p class="text-center">No tens tasques assignades</p>
  </ng-template>

  <ng-container *ngFor="let task of myTasks">
    <mat-divider></mat-divider>
    <app-task-card [task]="task"></app-task-card>
  </ng-container>
  <mat-divider></mat-divider>

  <h2>Pendents</h2>
  <ng-template [ngIf]="myTasks.length < 1">
    <p class="text-center">No hi ha tasques pendents</p>
  </ng-template>
  <mat-divider></mat-divider>
  <ng-container *ngFor="let task of todo">
    <mat-divider></mat-divider>
    <app-task-card [task]="task"></app-task-card>
  </ng-container>
  <mat-divider></mat-divider>
</div>